/* one day simba this styleshhet will be beautiful and well-commented BUT IT ISN'T TODAY */
/*------------------------------------*\
#RESET
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*------------------------------------*\
#CLEARFIX
\*------------------------------------*/
.clearfix {
    overflow: auto;
}
/*------------------------------------*\
#GLOBALS
\*------------------------------------*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: Lora, serif !important;
}
hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}
hr.mini {
    width: 50%;
}
hr:not(#not-first):first-of-type {
    width:25%;
}
hr.pad-down {
    padding-bottom:20em;
}
.intro > h5 {
    text-align: center;
}
i.fa {
    color: #a0a0a0;
}
p, li, .sel-category {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
div.fb-contain {
    margin-bottom: .75em;
}
.priority {
    list-style-type: decimal;
}
.twitter-share-button[style] {
    vertical-align: top !important;
}
.intro > h1{
    font-size: 4.5em;
    text-align: center;
}
.intro-article {
    margin-bottom: 3em;
    font-size: 1.1em;
}
.intro-article.big {
    font-size: 1.5em;
    margin-bottom: .8em;
}
.link {
    text-align: center;
    font-size:1.2em;
}
ol.priority-contain {
    margin-left: 1em;
    font-size: 1.25em;
}
p.platform {
    font-style: italic;
    font-size:2em;
}
ol.priority-contain > li {
    font-family: Lora;
    font-style: italic;
}
.intro > p, .intro > h5 {
    margin-bottom: 1em;
}
div.main-cont {
    padding-top:4em;
}
.left, .main {
    padding-top: 1em;
    padding-left: 50px;
    padding-right: 50px;
}
.subhead {
    text-decoration: underline;
}
.main {
    padding-right: 5em !important;
}
h3.contrib, p.contrib-txt, p.photo-cred {
    text-align: center;
}
p.contrib-txt {
    margin-bottom: 3em;
}
h2.name, h2.select {
    font-size: 2.5em;
    margin-bottom: 0 !important;
}
.select, .sel-cand {
    text-align: center;
    text-decoration: none;
}
h2.select {
    color: #767676;
    font-style: italic;
}
h4.sel-cand {
    font-size: 1.75em;
}
h4.sel-cand:last-of-type {
    margin-bottom: 1.5em;
}
h3.occupation {
    margin-top: .5em !important;
    font-style: italic;
    margin-bottom: .5em !important;
}
.twitter-timeline-rendered {
    margin: auto !important;
    text-align: center;
}
.main {
    padding-top: 0;
}
p.description {
    margin-bottom: 1em;
    font-size: 1.1em;
}
img.candidate-img {
    background-color: #a0a0a0;
    display: block;
    border-radius: 50%;
    width: 17.5em;
    height: 17.5em;
    position: relative;
    margin: auto;
    margin-bottom: 1em;
}
.table{
    display:table;
    height: 100%;
    width: auto !important;
}
div.timeline {
    margin: auto !important;
}
.table-cell{
    display:table-cell;
    vertical-align: middle;
}
.footer-txt {
    -webkit-margin-after: 0;
}
.navbar.navbar-default.topnav#navi{
    border: none !important;
    border-bottom: 1px solid #d8d8d8 !important;
    background-color: #fff !important;
    border-radius: 0 !important;
    font-family: Lora;
    margin-bottom: 0 !important;
    z-index: 100;
}
#to-top {
    position: fixed;
    top: 94%;
    right: 0;
    width: auto;
    height: 2em;
    background-color: white;
    border-radius: 2px;
    border: 1px #f0f0f0 solid;
    margin-top: .75em;
    margin-right: .75em;
    padding: 5px;
    padding-top: 3px;
    z-index: 1000;
    overflow: hidden;
}
#to-top > p {
    color: #a0a0a0;
    font-family: Roboto;
    text-transform: uppercase;
    line-height: 2em;
    font-size: .8em;
    text-decoration: none;
}
#to-top > p:hover {
    color: #404040;
}
.navbar-header {
    margin: auto;
    text-align: center;
    background-color: none !important;
}
.footer {
    border-top: 1px solid #d8d8d8;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 2.5em;
    line-height: 2.5em;
    background-color: #fff;
    z-index: 100;
}
.footer-txt {
    text-align: center;
    font-family: Lora;
}
@media (max-width: 992px) {
    .container-fluid {
        width: 100%;
    }
    .main {
        text-align: center;
    }
    ol.priority-contain, .priority {
        margin-left: inherit;
        list-style-type: none;
    }
    div.main {
        padding-left: 5em;
        padding-right: 5em !important;
    }
    .subhead.pri {
        margin-bottom: 1em;
    }

}
@media (max-width: 768px) {
    .intro > h1{
        font-size: 3em;
    }
    p.footer-txt {
        font-size: 1em;
    }

}
@media (max-width: 540px) {
    .popup {
        min-width: 80%;
        font-size: 1em;
    }
    .footer-txt {
        font-size: 1.25em;
    }
    .intro-article.big {
        font-size: 1.25em;
        margin-bottom: .8em;
    }
}
@media (max-width: 375px) {
    .footer {
        font-size: .75em;
    }

    div.main {
        padding-left: 2em;
        padding-right: 2em !important;
    }

    div.main > p.description {
        text-align: initial;
    }

    div.scrim {
        min-width: 100%;
        min-height: 100%;
        background-color: rgba(53, 53, 53, .75);
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
    }

    div.popup {
        font-family: Lora;
        border-radius: 10px;
        z-index: 1500;
        background-color: #f5f5f5;
        width: 30%;
        padding: 1.5em;
        padding-top: 0;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    }
}