/*------------------------------------*\
#RESET
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------*\
#CLEARFIX
\*------------------------------------*/
.clearfix {
    overflow: auto;
}

/*------------------------------------*\
#GLOBALS
\*------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Lora, serif !important;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

p, li {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

div.fb-contain {
    margin: auto;
    margin-bottom: .75em;
    position: relative;
    left: 10%;
}

.priority {
    list-style-type: decimal;
}

.twitter-share-button[style] {
    vertical-align: top !important;
}

.intro > h1 {
    font-size: 4.5em !important;
    text-align: center;
}

.intro-article {
    margin-bottom: 3em !important;
}

.link {
    text-align: center;
}

ol.priority-contain {
    margin-left: 1em;
    font-size: 1.25em;
}

ol.priority-contain > li {
    font-family: Lora;
    font-style: italic;
}

.intro > p, .intro > h5 {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
}

.left, .main {
    padding-top: 1em;
    padding-left: 50px;
    padding-right: 50px;
}

.main {
    padding-right: 1.5em;
}

h3.contrib, p.contrib-txt, p.photo-cred {
    text-align: center;
}

p.contrib-txt {
    margin-bottom: 3em;
}

h2.name {
    font-size: 2.5em;
    margin-bottom: 0 !important;
}

h3.occupation {
    margin-top: .5em !important;
    font-style: italic;
}

.twitter-timeline-rendered {
    margin: auto !important;
    text-align: center;
}

.main {
    padding-top: 0;
}

img.candidate-img {
    display: block;
    border-radius: 50%;
    width: 17.5em;
    height: 17.5em;
    position: relative;
    margin: auto;
    margin-bottom: 1em;
}

.table {
    display: table;
    height: 100%;
    width: auto !important;
}

div.timeline {
    margin: auto !important;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.footer-txt {
    -webkit-margin-after: 0;
}

.navbar.navbar-default.topnav#navi {
    border: none !important;
    border-bottom: 1px solid #d8d8d8 !important;
    background-color: #fff !important;
    border-radius: 0 !important;
    font-family: Lora;
    margin-bottom: 0 !important;
    z-index: 100;
}

.navbar-header {
    margin: auto;
    text-align: center;
    background-color: none !important;
}

a.dropdown-toggle {
    font-weight: bold;
    color: #cc5527 !important;
    font-size: 1.25em;
}

#homebtn, ul.dropdown-menu > li, .dropdown-toggle {
    text-transform: uppercase;
}

ul.dropdown-menu > li {
    font-size: 1.25em;
}

.footer {
    border-top: 1px solid #d8d8d8;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 2.5em;
    line-height: 2.5em;
    background-color: #fff;
    z-index: 100;
}

.footer-txt {
    text-align: center;
    font-family: Lora;
}

@media (max-width: 992px) {
    .container-fluid {
        width: 100%;
    }

    .main {
        text-align: center;
    }

    ol.priority-contain, .priority {
        margin-left: inherit;
        list-style-type: none;
    }
}

@media (max-width: 765px) {
    #homebtn, ul.dropdown-menu > li, .dropdown-toggle {
        text-align: center;
    }
}

@media (max-width: 540px) {
    .popup {
        min-width: 80%;
        font-size: 1em;
    }
}

@media (max-width: 360px) {
    .footer {
        font-size: .75em;
    }

    div.scrim {
        min-width: 100%;
        min-height: 100%;
        background-color: rgba(53, 53, 53, .75);
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
    }

    div.popup {
        font-family: Lora;
        border-radius: 10px;
        z-index: 1500;
        background-color: #f5f5f5;
        width: 30%;
        padding: 1.5em;
        padding-top: 0;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    }

    #bg {
        min-width: 100%;
        height: auto;
    }
}
