{% extends index.html %}
{%  block content %}
    {% for row in sheetName %}
        <div class="col-md-4 left">
            <img src="{{ row['purl'] }}" alt="{{ row['cand_name'] }}" class="candidate-img">
            <p class="photo-cred">{% if row['Photo Credit'] != '' %}{{ row['Photo Credit'] }}{% else %}Photo courtesy of the candidate{% endif %}</p>
            <h4 class="link"><a href="{{ row['Campaign Website'] }}">Campaign Website</a></h4>
            <h4 class="link"><a href="{{ row['Twitter'] }}">Twitter</a></h4>
        </div>
        <div class="col-md-8 main">
            <h2 class="name">{{ row['cand_name'] }}</h2>
            <h3 class="occupation">{{ row['occu'] }}</h3>
            <h4 class="subhead">Biography</h4>
            <p class="description">{{ row['bio'] }}</p>
            <h4 class="subhead">Why should students vote for you?</h4>
            <p class="description">{{ row['plat'] }}</p>
            <h4 class="subhead">Policy Priorities</h4>
            <ol class="priority-contain">
                <li class="priority">{{ row['p1'] }}</li>
                <li class="priority">{{ row['p2'] }}</li>
                <li class="priority">{{ row['p3'] }}</li>
            </ol>
            <h4 class="subhead">Endorsed By:</h4>
            <p class="description">{{ row['endors'] }}</p>
        </div>
    {% endfor %}
<hr/>
{% endblock %}