{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block header %}2016 Student Election Explorer{% endblock %}`
{% block credits %}<h5>By <a href="https://www.dailytexanonline.com/author/junyuan-tan">Junyuan Tan</a>, <a href="https://www.dailytexanonline.com/author/amy-zhang">Amy Zhang</a>, and <a href="https://www.dailytexanonline.com/author/rachel-zein">Rachel Zein</a></h5>{% endblock %}
{% block content %}
    <ol>
    {% for row in Races %}
        <a href="{{ row['url'] }}">
            <li>{{ row['race'] }}</li>
        </a>
        <li>{{ row['description'] }}</li>
    {% endfor %}
    </ol>
{% endblock %}