{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block header %}2016 Student Election Explorer{% endblock %}`
{% block credits %}<h5>By <a href="https://www.dailytexanonline.com/author/junyuan-tan">Junyuan Tan</a>, <a href="https://www.dailytexanonline.com/author/amy-zhang">Amy Zhang</a>, and <a href="https://www.dailytexanonline.com/author/rachel-zein">Rachel Zein</a></h5>{% endblock %}
{% block content %}
    <div class="sel-category" style="text-align: center;" ng-controller="selectionController">
        <div class="cat">
            Select an  &nbsp;
            <button class="btn btn-default elections-btn" ng-click="showElection()">Election  &nbsp; <i class="fa fa-caret-right" id="ico0"></i></button>
            <div class="elections" style="padding-top: .75em;">
                <ul>
                    {% for row in Races %}
                        <a href="/{{ row['url'] }}" class="election-link">
                            <li>{{ row['race'] }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
